<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pse.trainingappdroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pse.trainingappdroid.LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.ForgotActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.TabsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.TabsAchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.TabsHistoryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.TabsSettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.TabsMeActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.pse.trainingappdroid.TestDatabaseActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.WorkoutActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.WorkoutHistoryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pse.trainingappdroid.BarGraphActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>